/*! Shared Styles  */

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.bg-primary {
  background-color: #ff5400;
}

.text-primary {
  color: #ff5400;
}

/* Desktop or Laptop Screen Style  */

/*! header Styles  */
header,
main {
  width: 91%;
  margin: 30px auto;
}

/*! Navbar Styles  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.title span {
  color: #ff5400;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.li-container ul {
  display: flex;
  gap: 15px;
}

.li-container ul li {
  list-style: none;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
}

.li-container ul li:first-child {
  color: #ff5400;
}

.menu {
  display: none;
}

/*! Banner Section Styles  */
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group 13 (1) (1).png");
  height: 500px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.banner-title {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner-des {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.input {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.input p {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 32px;
  padding-top: 15px;
}

.input select {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 45px;
  padding: 5px;
  border: none;
}

.input button {
  border-radius: 8px;
  width: 174px;
  height: 48px;
  padding: 5px;
  border: none;
  color: white;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

/*! Popular Tours Section Styles  */
.popular-tours-container {
  display: flex;
  gap: 50px;
  height: 570px;
  margin-bottom: 70px;
}


.popular-tours-container p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.popular-tours-container ul {
  margin-bottom: 20px;
}

.popular-tours-container li {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 30px;
}

.popular-tours-des {
  height: 570px;

}

.popular-tours-des-title {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.popular-tours-des-img {
    height: 570px;
}

.popular-tours-des-img img {
    height: 570px;

}

.popular-tours-btn {
  width: 144px;
  height: 42px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 15px;
}






/*! Mobile Screen Styles  */
@media screen and (max-width: 600px) {
  .li-container ul li {
    display: none;
  }

  .menu {
    display: block;
  }

  .banner {
    height: 550px;
    padding: 30px;
  }

  .banner-title {
    font-size: 22px;
    font-weight: 800;
  }

  .banner-des {
    font-size: 14px;
    font-weight: 400;
  }

  .input {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .popular-tours-container {
    flex-direction: column;
  }

  .popular-tours-des {
    height: 100%;
  }

  .popular-tours-des-img {
    width: 100%;
    margin-top: 23.5rem;
  }

  .popular-tours-des-img img {
    width: 100%;
    height: 250px;

  }

}
