/*! Shared Styles  */

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.bg-primary {
  background-color: #ff5400;
}

.text-primary {
  color: #ff5400;
}

.btn-primary {
  width: 150px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  border: none;
}

/* Desktop or Laptop Screen Style  */

/*! header Styles  */
header,
main {
  width: 91%;
  margin: 30px auto;
}

/*! Navbar Styles  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.title span {
  color: #ff5400;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.li-container ul {
  display: flex;
  gap: 15px;
}

.li-container ul li {
  list-style: none;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
}

.li-container ul li:first-child {
  color: #ff5400;
}

.menu {
  display: none;
}

/*! Banner Section Styles  */
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group 13 (1) (1).png");
  height: 500px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.banner-title {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner-des {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.input {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.input p {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 32px;
  padding-top: 15px;
}

.input select {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 45px;
  padding: 5px;
  border: none;
}

.input button {
  border-radius: 8px;
  width: 174px;
  height: 48px;
  padding: 5px;
  border: none;
  color: white;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

/*! Popular Tours Section Styles  */
.popular-tours-container {
  display: flex;
  gap: 50px;
  height: 570px;
  margin-bottom: 100px;
}

.popular-tours-container p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.popular-tours-container ul {
  margin-bottom: 20px;
}

.popular-tours-container li {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 30px;
}

.popular-tours-des {
  height: 570px;
}

.popular-tours-des-title {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.popular-tours-des-img {
  height: 570px;
}

.popular-tours-des-img img {
  height: 570px;
}

.popular-tours-btn {
  width: 144px;
  height: 42px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 15px;
}

/*! Choose your Destination Section Styles  */
.choose-destination-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  margin-top: 1em;
}

.choose-destination-des {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  width: 60%;
  margin: 15px auto;
}

.first-row-img-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.second-row-img-container {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.third-row-img-container {
  display: flex;
  gap: 20px;
}

.first-row-img1 {
  background: url("../Images/Rectangle 5.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 573px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.first-row-img2 {
  background: url("../Images/Rectangle 8.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 573px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.second-row-img1 {
  background: url("../Images/Rectangle 6.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 374px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.second-row-img2 {
  background: url("../Images/Rectangle 7.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 474px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.second-row-img3 {
  background: url("../Images/Rectangle 9.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 274px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.third-row-img1 {
  background: url("../Images/Rectangle 11.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 473px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.third-row-img2 {
  background: url("../Images/Rectangle 10.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 673px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.choose-destination-img-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  height: 300px;
  color: #fff;
  font-family: Mulish;
  font-size: 28px;
  font-weight: 800;
}

/*! Why Choose us Section Styles  */
.why-choose-us {
  margin-top: 100px;
}

.why-choose-us-first-card-container h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  margin: 10px 0;
}

.why-choose-us-text-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.why-choose-us-text-des {
  width: 60%;
  margin: 20px auto;
}

.why-choose-us-first-row-container p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

.why-choose-us-first-row-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.choose-us-first-card {
  width: 473px;
  height: 200px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 30px;
}

.choose-us-second-card {
  width: 473px;
  height: 200px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 30px;
}

.why-choose-us-card2-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.choose-us-container2-card {
  width: 473px;
  height: 200px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 30px;
}

.choose-us-container2-card p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

/*! Deals and Discount Section Styles  */
.first-discount-card-container {
    background: url('../Images/Group 39.png');
    display: flex;
    justify-content: end;
    padding: 40px;
    border-radius: 16px;
    margin-top: 40px;
}

.deals-discount-card {
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px ;
}

.deal-discount-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
}

.deals-discount-card-des-title {
  margin: 20px 0;

}

.deals-discount-card-des-des {
    margin-bottom: 20px;
}

.deals-discount-card-des-price {
    margin-bottom: 20px;
}

.deals-discount-des {
  width: 90%;
  margin: 20px auto;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}

.deals-discount-first-card-firstLine {
  display: flex;
  gap: 20px;
}

.deals-discount-first-card-firstLine div {
  display: flex;
  gap: 5px;
}

.second-discount-card-container {
    background: url('../Images/Group 40.png');
    display: flex;
    justify-content: start;
    padding: 40px;
    border-radius: 16px;
    margin-top: 40px;
}

.packages-btn {
    text-align: center;
    margin: 40px 0;
}

.see-all-pkg-btn {
    width: 200px;
}


@media screen and (max-width: 1024px) {
  .popular-tours-container {
    margin-bottom: 500px;
  }
}

/*! Mobile Screen Styles  */
@media screen and (max-width: 600px) {
  .li-container ul li {
    display: none;
  }

  .menu {
    display: block;
  }

  .banner {
    height: 550px;
    padding: 30px;
  }

  .banner-title {
    font-size: 22px;
    font-weight: 800;
  }

  .banner-des {
    font-size: 14px;
    font-weight: 400;
  }

  .input {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .popular-tours-container {
    flex-direction: column;
  }

  .popular-tours-des {
    height: 100%;
  }

  .popular-tours-des-img {
    width: 100%;
    margin-top: 23.5rem;
  }

  .popular-tours-des-img img {
    width: 100%;
    height: 250px;
  }

  .choose-our-destination-container {
    margin-top: 750px;
  }

  .first-row-img-container {
    flex-direction: column;
  }

  .second-row-img-container {
    flex-direction: column;
  }

  .third-row-img-container {
    flex-direction: column;
  }

  .first-row-img1 {
    width: 100%;
  }
  .first-row-img2 {
    width: 100%;
  }
  .second-row-img1 {
    width: 100%;
    background-size: contain;
    background-position: center;
  }
  .second-row-img2 {
    width: 100%;
  }
  .second-row-img3 {
    width: 100%;
  }
  .third-row-img1 {
    width: 100%;
  }
  .third-row-img2 {
    width: 100%;
  }

  .why-choose-us-first-row-container {
    flex-direction: column;
  }

  .choose-us-first-card {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .choose-us-second-card {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .choose-us-container2-card {
    width: 90%;
    height: 100%;
  }

  .first-discount-card-container {
    justify-content: center;

  }
  .second-discount-card-container {
    justify-content: center;

  }

  .deals-discount-card {
    width: 80%;
    height: 50%;
  margin: 20px auto;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  }

  .deals-discount-card div {
    height: 50%;
    padding: 10px 0;
  }
}
